/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  display: flex;

}

.leftsidebar {
  width: 270px;
  height: 100vh;
  background-color: #ffff;
  border-right: 1px dotted #eee;
}

.slidermain {
  padding: 10px 7px;
}

.slidermain div {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  background-color: rgba(145, 158, 171, 0.16);
  padding: 10px;
  border-radius: 7px;
}


/* nav bar  */

.nav-bar {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  background-color: rgb(209, 233, 252);
  height: 61px;
  width: 100%;
}